<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="header">
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <h1 class='ion-text-center'>Doit Bank</h1>
      </ion-col>
    </ion-row>
  </div>
  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card class="card card-login">
            <ion-card-content>
              <ion-grid>              
                <ion-row>
                  <ion-col size="2">
                    <div class="img-user"></div>
                  </ion-col>
                  <ion-col size="6">                  
                    <p>Nathan Teodoro de Almeida<br><small>913398-4</small></p>
                  </ion-col>
                  <ion-col size="4">
                    <ion-button class='btn-alter-login' size='small' expand='block'>ALTERAR</ion-button>
                  </ion-col>
                  <ion-col size="12" class='ion-text-center'>
                    <ion-button expand='block' class='btn-signin'>Entrar</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card class="card card-iSafe">
            <ion-card-content>
              <ion-grid>              
                <ion-row>                  
                  <ion-col size="8" class='d-flex ion-align-items-center'>                  
                    <h1><ion-icon name="shield-outline"></ion-icon> i-safe</h1>
                  </ion-col>
                  <ion-col size="4" class='ion-text-center'>
                    <ion-icon class='isafe-generate' name="ellipsis-horizontal-outline"></ion-icon>
                    <p>Gerar</p>
                  </ion-col>                  
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12">
          <ion-card class="card card-interPag">
            <ion-card-content>
              <ion-grid>              
                <ion-row>                  
                  <ion-col size="6">                  
                    <h1><span class="bold-interpag">doit</span>pag</h1>
                  </ion-col>
                  <ion-col size="3" class='ion-text-center'>
                    <ion-icon name="cash-outline"></ion-icon>
                    <p>Pagar</p>
                  </ion-col>   
                  <ion-col size="3" class='ion-text-center'>
                    <ion-icon name="qr-code-outline"></ion-icon>
                    <p>Receber</p>
                  </ion-col>                  
                </ion-row>
              </ion-grid>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
